.IS-content {
  height: 100%;
  .IS-items-container {
    &.IS-INTERNAL-horizontal {
      display: flex;
    }

    .IS-items {
      display: flex;

      &.IS-INTERNAL-horizontal {
        &.IS-INTERNAL-list {
          flex-direction: row;
        }
        &.IS-INTERNAL-grid {
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;
          height: 100%;
        }
      }

      &.IS-INTERNAL-vertical {
        &.IS-INTERNAL-list {
          flex-direction: column;
        }
        &.IS-INTERNAL-grid {
          flex-direction: row;
          flex-wrap: wrap;
          align-content: flex-start;
        }
      }
      
      .IS-item-container {
        display: flex;
        > * {
          flex: 1;
        }
      }
    }
  }
}