.infinite-scroll-items-container {
  .infinite-scroll-items-wrapper {
    &.horizontal {
      display: flex;
    }

    .infinite-scroll-items {
      display: flex;

      &.horizontal {
        &.list {
          flex-direction: row;
        }
        &.grid {
          flex-direction: column;
          flex-wrap: wrap;
          align-content: flex-start;
          height: 100%;
        }
      }

      &.vertical {
        &.list {
          flex-direction: column;
        }
        &.grid {
          flex-direction: row;
          flex-wrap: wrap;
          align-content: flex-start;
        }
      }
      
      .infinite-scroll-item {
        display: flex;
        > * {
          flex: 1;
        }
      }
    }
  }
}