.IS-scroll-button-container {
  &.IS-INTERNAL-show-on-hover {
    opacity: 0.1;
    transition: opacity 0.2s ease-in;
  }
  &.IS-INTERNAL-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    &.IS-INTERNAL-vertical {
      width: 100%;
      padding: 8px 0;
      &.IS-previous-button-container {
        top: 0;
      }
      &.IS-next-button-container {
        bottom: 0;
      }
    }
    &.IS-INTERNAL-horizontal {
      height: calc(100% - 15px);
      padding: 0 8px;
      &.IS-previous-button-container {
        left: 0;
      }
      &.IS-next-button-container {
        right: 0;
      }
    }
  }
  &.IS-INTERNAL-inside {
    position: absolute;
    z-index: 1000;
    &.IS-INTERNAL-vertical {
      left: 50%;
      transform: translateX(-50%);
      &.IS-previous-button-container {
        top: 8px;
      }
      &.IS-next-button-container {
        bottom: 8px;
      }
    }
    &.IS-INTERNAL-horizontal {
      top: 50%;
      transform: translateY(-50%);
      &.IS-previous-button-container {
        left: 8px;
      }
      &.IS-next-button-container {
        right: 8px;
      }
    }
  }
}