body {
  margin: 0;
}

.IS-container {
  height: 100%;
  position: relative;
  &:hover {
    .IS-scroll-button-container {
      &.IS-INTERNAL-show-on-hover {
        opacity: 1;
      }
    }
  }
  &.IS-INTERNAL-horizontal {
    &.IS-INTERNAL-scroll-buttons-visible {
      display: flex;
    }
  }
  .IS-main {
    height: 100%;
    scroll-behavior: smooth;
    &.IS-INTERNAL-scroll-buttons-visible {
      overflow: auto;
      width: 100%;
    }
    .IS-header-container, .IS-footer-container {
      padding: 10px 0;
    }
    .IS-content-container {
      &.IS-INTERNAL-horizontal {
        height: 100%;
      }
    }
    .block-ui-container {
      height: 100%;
    }
    .IS-default-loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .IS-blocker-container {
      height: 100%;
      min-height: 100%;
    }
    .IS-no-data-container {
      width: 100%;
      text-align: center;
      padding: 64px 0;
    }
  }
}
