body {
  margin: 0;
}

.infinite-scroll {
  .header, .footer {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  .block-ui-container {
    min-height: 17em;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .full-min-height {
    min-height: 100%;
  }
  .no-data {
    width: 100%;
    text-align: center;
    padding: 64px 0;
  }
}