.IS-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &.IS-pagination-active-button {
      background-color: #305cad;
      color: #fff;
    }
  }
}