.infinite-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.horizontal {
  .infinite-sensor {
    width: 1px;
    span {
      width: 1px;
    }
  }
}

.vertical {
  .infinite-sensor {
    width: 100%;
    height: 1px;
    span {
      height: 1px;
    }
  }
}

.infinite-sensor {
  display: flex;
  span {
    flex: 1;
  }
}

.load-more-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .load-more {
    width: max-content;
  }
}