.infinite-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.infinite-scroll-items-container {
  &.horizontal {
    &.list {
      .infinite-sensor {
        width: 1px;
        span {
          width: 1px;
        }
      }
    }
    &.grid {
      .infinite-sensor {
        width: 1px;
        span {
          height: 1px;
        }
      }
    }
  }
  &.vertical {
    &.list {
      .infinite-sensor {
        width: 1px;
        span {
          height: 1px;
        }
      }
    }
    &.grid {
      .infinite-sensor {
        width: 1px;
        span {
          width: 1px;
        }
      }
    }
  }
  .infinite-sensor {
    display: flex;
    height: 1px;
    span {
      flex: 1;
    }
  }
}

.load-more-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .load-more {
    width: max-content;
  }
}