.IS-loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.IS-content {
  &.IS-INTERNAL-horizontal {
    &.IS-INTERNAL-list {
      .IS-sensor-container {
        width: 1px;
        span {
          width: 1px;
        }
      }
    }
    &.IS-INTERNAL-grid {
      .IS-sensor-container {
        width: 1px;
        span {
          height: 1px;
        }
      }
    }
  }
  &.IS-INTERNAL-vertical {
    &.IS-INTERNAL-list {
      .IS-sensor-container {
        width: 1px;
        span {
          height: 1px;
        }
      }
    }
    &.IS-INTERNAL-grid {
      .IS-sensor-container {
        width: 1px;
        span {
          width: 1px;
        }
      }
    }
  }
  .IS-sensor-container {
    display: flex;
    height: 1px;
    span {
      flex: 1;
    }
  }
}

.IS-load-more-button-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .IS-load-more-button {
    width: max-content;
  }
}